/* Admin Panel Wrapper */
.admin-panel {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #2d3645;
  overflow: hidden;
  position: absolute;
  width: 100vw;
}

/* Sidebar (Dynamic Width) */
.admin-panel .side-bar {
  flex-shrink: 0;
  width: 250px;
  transition: width 0.3s ease;
}

.admin-panel .side-bar.closed {
  width: 80px;
}

/* Main Content Area */
.admin-panel .content {
  flex-grow: 1;
  padding: 20px;
  background: transparent !important;
  overflow-y: auto;
  transition: margin-left 0.3s ease;
}

/* Adjust Margin for Collapsed Sidebar */
.admin-panel .content.collapsed {
  margin-left: 80px;
}

.admin-panel .content.expanded {
  margin-left: 250px;
}

.admin-panel .lesson-list-container::before {
  position: absolute;
}